# Node.js
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# TypeScript
dist/
build/
*.tsbuildinfo

# Prisma
.prisma/
prisma/migrations/

# Environment
.env


# Nodemon
nodemon.json

# IDE files
.vscode/
.idea/
*.sw?
